<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>We need to use local network to communicate with other peripherals</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_zeroconfchat._tcp</string>
	</array>
</dict>
</plist>
